{% extends 'base.html.twig' %}

{% block title %}Détails du Héros{% endblock %}

{% block body %}
    <h2>Nom : {{ hero.name }} </h2><br>
    
    <h2>Attributs : </h2>
    Couleur : {{ hero.color }} <br> 
    Animal Totem : <h3>{{ hero.animal }}</h3> <br> 
    <h2>Physique : </h2>
    Morphologie : {{ hero.morphologie }} <br> 
    Cheveux : {{ hero.cheveux }} <br> 
    Yeux: {{ hero.yeux }} <br> 

    <br><h2>Personnalité :</h2>
    <h4>Carte Majeure</h4>
    <ul>
        {% if hero.cardMaj %}
            <li>
                <img src="{{ asset('/images/cardMaj/' ~ hero.cardMaj.image) }}" alt="{{ hero.cardMaj.name }}" style="width: 100px;">
                {{ hero.cardMaj.number }} - {{ hero.cardMaj.name }}: {{ hero.cardMaj.description }}
            </li>
        {% else %}
            <li>Aucune carte majeure associée</li>
        {% endif %}
    </ul>

    <h4>Carte Royale</h4>
    <ul>
        {% if hero.cardRoy %}
            <li>
                <img src="{{ asset('/images/cardRoy/' ~ hero.cardRoy.image2) }}" alt="{{ hero.cardRoy.nom }}" style="width: 100px;">
                {{ hero.cardRoy.nom }} - {{ hero.cardRoy.suite }}: {{ hero.cardRoy.description2 }}
            </li>
        {% else %}
            <li>Aucune carte royale associée</li>
        {% endif %}
    </ul>

    <h4>Carte Mineure</h4>
    <ul>
        {% if hero.cardMin %}
            <li>
                <img src="{{ asset('/images/cardMin/' ~ hero.cardMin.image3) }}" alt="{{ hero.cardMin.numero }}" style="width: 100px;">
                {{ hero.cardMin.numero }} - {{ hero.cardMin.suite2 }}: {{ hero.cardMin.qualite }} / {{ hero.cardMin.defaut }}
            </li>
        {% else %}
            <li>Aucune carte mineure associée</li>
        {% endif %}
    </ul>

    <a href="{{ path('app_your_heroes') }}">Retour à la liste des héros</a>
{% endblock %}
