{% extends 'base.html.twig' %}

{% block title %}Détails du Héros{% endblock %}

{% block body %}
    <h2>Nom : {{ hero.name }} </h2>
    <h2>Attributs : {{ hero.color }} - {{ hero.animal }}</h2>
    <h2>Physique : </h2>
    <h2>Personnalités :</h2>
    <ul>
        {% for card in cards %}
            <li>
                <img src="{{ asset('/images/cards/' ~ card.image) }}" alt="{{ card.name }}" style="width: 100px;">
                {{ card.number }} - {{ card.name }}: {{ card.description }}
            </li>
        {% else %}
            <li>Aucune carte associée</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_your_heroes') }}">Retour à la liste des héros</a>
{% endblock %}